{{#if addNewAnswer}}
<h4>New Answer</h4>
  <div>
    <form>
      <div class="form-group">
        <label for='answer'>Answer</label>
        {{input class="form-control" value=explanation id="explanation" placeholder="Your Answer Goes Here..."}}
      </div>
      <div class="form-group">
        <label for='author'>Author</label>
        {{input class="form-control" value=author id="author" placeholder="Your Name Goes Here..."}}
      </div>
      <div class="newQuestionButton">
        <button class="btn btn-success" {{action 'saveAnswer'}}>Save Answer</button>
        <button class="btn btn-danger" {{action 'answerFormHide'}}>Cancel</button>
      </div>
    </form>
  </div>
{{else}}
    <button class="btn btn-primary" {{action 'answerFormShown'}}>New Answer</button>
{{/if}}
