{{#if addNewQuestion}}
  <h2>New Question</h2>
  <form>
    <div class="form-group">
      <label for="inquiry">Question</label>
      {{input class='form-control' value=inquiry id='inquiry'}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input class='form-control' value=author id='author'}}
    </div>
    <div class="form-group">
      <label for="note">Additional Notes</label>
      {{input class='form-control' value=note id='note'}}
    </div>
    <div  class="newQuestionButton">
      <button class="btn btn-success" {{action 'saveQuestion'}}>Save</button>
      <button class="btn btn-danger" {{action 'questionFormHide'}}>Cancel</button>
    </div>
  </form>
{{else}}
  <div  class="newQuestionButton">
    <button class="btn btn-success" {{action 'questionFormShow'}}>Submit New Question</button>
  </div>
{{/if}}
